*{
    box-sizing: border-box;
}
@font-face{ 
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Medium.ttf");
}
body{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    font-size: 14px;
    font-weight: 400; 
    background: #F0F2F5;
    color: #000;
    height: 100vh;
    /* 100vh 表示视口（viewport）的高度，即浏览器窗口的可视区域的高度。因此，这条规则将元素的高度设置为浏览器窗口高度的 100%。 */
}
a{
    text-decoration: none;
}
.page-header{
    position: fixed;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 21, 41, 1);
    height: 48px;
}
.header-lf{
    display: flex;
    align-items: center;
}
.header-logo{
    height: 32px;
    width: 32px;
}
.header-title{
    margin-left: 12px;
    height: 32px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
}
.header-ri-list{
    display: flex;
    align-items: center;
}
.header-ri-item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
.header-ri-name{
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}
.header-ri-num{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 25px;
    width: 31px;
    height: 20px;
    text-align: center;
    background: rgba(255, 77, 79, 1);
    color: #fff;
    border-radius: 10px;
}
.mainer-nav{
    position: relative;
    padding-top: 48px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px #00000026;
    z-index: 1;
}
.expand{
    width: 208px;
}
.nav-hidden{
    display: none;
}
.mainer-nav-list{
    padding: 4px 0px;
    overflow: hidden auto;
    flex: 1 1 0%;
}
.mainer-nav-item{
    width: 208px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainer-nav-item.active{
    color: rgba(24, 144, 255, 1);
}
.mainer-nav-item.active:hover{
    color: rgba(0, 0, 0, 0.85);
    border-right: none;
}
.nav-item-arrow{
    height: 9px;
    width: 10px;
}
.mainer-nav-item.active .nav-item-arrow{
    transform: rotateX(180deg);
}
.mainer-nav.short{
    display: none;
    width: 47px;
}
/* .mainer-nav-item.short{
    width: 47px;
} */
.nav-item-title{
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 208px;
    height: 40px;
    cursor: pointer;
}
.nav-item-title:hover{
    color: rgba(24, 144, 255, 1);
    background: rgba(230, 247, 255, 1);
    border-right: 3px solid rgba(24, 144, 255, 1);
}
.nav-item-icon{
    margin-right: 10px;
}
.mainer-bottom{
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 0px 0px rgba(240, 240, 240, 1) inset;
}
.mainer-bottom-icon{
    width: 16px;
    height: 16px;
}
.mainer-bottom-icon:active .mainer-nav.short{
    display: flex;
}
.mainer-bottom-icon:active .mainer-nav{
    display: none;
}

.nav-subitem-box{
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 208px;
}
.nav-subitem{
    margin: 4px 0;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 208px;
    height: 40px;
    color: rgba(0, 0, 0, 0.85);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nav-subitem.active{
    color: rgba(24, 144, 255, 1); 
    background: rgba(230, 247, 255, 1);
    border-right: 3px solid rgba(24, 144, 255, 1);
}
.nav-subitem.subactive{
    color: rgba(24, 144, 255, 1);
}
.nav-sublist-box{
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-childitem-list{
    width: 208px;
}
.nav-childitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.nav-childitem.active{
    background: rgba(230, 247, 255, 1);
    border-right: 3px solid rgba(24, 144, 255, 1);
}
.nav-childitem-name{
    margin: 4px 13px 4px 64px;
    color: rgba(0, 0, 0, 0.85);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nav-childitem-name.active{
    color: rgba(24, 144, 255, 1);
}