*{
    box-sizing: border-box;
}
@font-face{ 
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Medium.ttf");
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    font-size: 14px;
    font-weight: 400; 
    background: #F0F2F5;
    line-height: 22px;
    color: #000;
    height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
.page-wrapper{
    display: flex;
    height: 100%;
}
.workplace-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 48px;
    width: 100%;
    overflow: hidden; 
}
.workplace-hd{
    padding: 12px 24px 16px;
    height: 190px;
    width: 100%;
    min-width: 1,232px;
    background-color: #fff;
}
.workplace-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow-y: auto;
}
.workplace-content::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.workplace-content::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,.12);
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,21,41,.05);
}
.workplace-bottom{
    display: flex;
}
.current-nav-list{
    color: rgba(0, 0, 0, 0.45);
}
.current-break{
    margin: 0 8px;
}
.current-item{
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
}
.current-item.active{
    color: rgba(0, 0, 0, 0.85);
}
.current-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}
.current-content-box{
    display: flex;
    justify-content: space-between;
}
.current-content{
    display: flex;
}
.current-img{
    border-radius: 50%;
}
.current-desc{
    margin-left: 24px;
}
.current-subtitle{
    min-width: 450px;
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.current-info{
    min-width: 450px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
}
.current-num-box{
    margin-left: 25px;
    margin-right: 4px;
    height: 64px;
    display: flex;
    text-align: center;
}
.current-num-item{
    height: 64px;
}
.current-num-title{
    margin-bottom: 9px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
    white-space: nowrap;
}
.current-num{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}
.current-num.small{
    font-size: 16px;
    line-height: 24px;
}
.current-line{
    margin: auto 32px;
    width: 1px;
    height: 32px;
    background-color:  rgba(0, 0, 0, 0.06);
}
.workplace-lf{
    margin: 24px;
    width: calc(67%);
    min-width: 781px;
}
.workplace-ri{
    margin: 24px 24px 24px 0;
    width: calc(33%);
}
.projects-container{
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 2px;
}
.projects-title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 56px;
    border: 1px solid rgba(240, 240, 240, 1) ;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.projects-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.85);
}
.projects-all{
    color: rgba(24, 144, 255, 1);
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    width: 780px;
}
.projects-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    height: 142px;
    width: 260px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.projects-logo-box{
    display: flex;
    align-items: center;
}
.projects-logo{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.projects-name{
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.85);
}
.projects-desc{
    margin: 8px 0;
    font-family: Helvetica Neue;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;   
    color: rgba(0, 0, 0, 0.45);
    flex-wrap: wrap;
    word-wrap:break-word;
}
.projects-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects-info-lf{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.45);
}
.projects-info-ri{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.25);
}
.activities-container{
    margin: 24px 24px 24px 0;
    height: 536px;
    width: 100%;
    min-width: 781px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.activities-list{
    margin: 24px;
    display: flex;
    flex-direction: column;
}
.activities-item{
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
    box-shadow: 0px -1px 0px 0px rgba(240, 240, 240, 1) inset;
}
.activities-item-img{
    margin-right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.activities-time{
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.45);
}
.activities-info.black{
    color: rgba(0, 0, 0, 0.85);
}
.activities-info.blue{
    color: rgba(24, 144, 255, 1);
}
.quick-container{
    background-color: #fff;
    min-width: 379px;
    height: 158px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.06)
}
.quick-title-box{
    padding: 0 24px;
    display: flex;
    align-items: center;
    height: 56px;
    border: 1px solid rgba(240, 240, 240, 1) ;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.quick-desc-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px;
}
.quick-list{
    display: flex;
    flex-wrap: wrap;
}
.quick-item{
    margin-bottom: 8px;
    padding: 0 4px;
    color: rgba(0, 0, 0, 0.85);
}
.quick-btn{
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 24px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid rgba(24, 144, 255, 1);
    color: rgba(24, 144, 255, 1);
}
.quick-btn span{
    margin-left: 8px;
}
.team-container{
    background-color: #fff;
    margin: 24px 0;
    min-width: 379px;
    height: 248px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.06)
}
.team-list-container{
    display: flex;
}
.team-list{
    margin: 24px;
    display: flex;
    flex-direction: column;
}
.team-item{
    display: flex;
    align-items: center;
}
.team-item.middle{
    margin: 12px 0;
}
.team-item-img{
    margin-right: 12px;
}
.page-footer{
    position: relative;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-desc{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-info{
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
}
.footer-logo{
    margin: 4px 40px;
    width: 14px;
    height: 14px;
}
.footer-question{
    position: absolute;
    right: 77px;
    bottom: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
.question-icon{
    text-align: center;
    width: 14px;
    height: 14px;
}
